*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-shadow {
    box-shadow: 0 20px 25px 0px rgba(0, 0, 0, 0.1);
}
.shadow-box {
    box-shadow: 0 20px 35px 0px rgba(0, 0, 0, 0.4);
}

.second-color {
    background-color: #535353;
}

.main-color {
    background-color: #2B4999;
}
.center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.center-teks {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.bg-cyan {
    background-color: #EDF2F7;
}
.bg-blue{
    background-color: #0839c0;
}
.bg-yellow{
    background-color:#bcec0c;
}
.rad-5 {
    border-radius: 5%;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .carousel-mobile-img {
        height: 300px;
    }    
}
.p-6 {
    padding: 6em;
}
.img-contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#sticky-sidebar {
    position:fixed;
    max-width: 20%;
    }